<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/fragment :: headFragment (pageTitle='Projeto Academy')"></head>
<body>
	<div th:replace="fragments/fragment :: header"></div>
	<div class="alert alert-success alert-dismissible fade show text-center" role="alert">
		Seja bem vindo, <strong th:text="${session.usuarioLogado.nome}"></strong>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
	<section class="new-section container">
		<div class="main-text">
			<h1 class="text-center mb-5 mt-3">Sistema de gerenciamento de alunos</h1>
		</div>
		<div class="buttons row">
			<div class="box col-4 col-sm-4 col-md-4 text-center offset-sm-2">
				<a class="btn btn-outline-primary" th:href="criar-alunos"> <i class="fa fa-user" aria-hidden="true"></i> Cadastrar aluno</a>
			</div>
			<div class="box col-4 col-sm-4 col-md-4 text-center">
				<button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#modalPesquisa"> <i class="fa fa-search" aria-hidden="true"></i> Encontrar aluno </button>
			</div>
			<div class="clear">
			</div>
		</div>
	</section>
	
	<div class="modal fade" id="modalPesquisa">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Pesquise por um aluno</h5>
					<button type="button" class="close" data-bs-dismiss="modal"><span>&times;</span></button>
				</div>
				<div class="modal-body">
					<form action="pesquisar-aluno" method="POST" th:object="${aluno}">
						<div class="input-group">
							<input type="text" th:field="*{nome}" class="form-control" aria-describedby="btn-modal-addon">
							<button class="btn btn-info" type="submit" id="btn-addon"> <i class="fa fa-search"></i> </button>
						</div>					
					</form>
				</div>
				<div class="modal-footer">
					<button class="btn btn-outline-danger" data-bs-dismiss="modal">Fechar</button>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="fragments/fragment :: footer"></div>
</body>
</html>